name: crypto_address_wallet
description: "This Crypto Address Wallet class is a widget that displays a cryptocurrency address. It takes a number of parameters as input that allow to set its display and various properties."
version: 1.0.0
homepage:

environment:
  sdk: '>=3.2.2 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0


flutter:


